<form [formGroup]="pessoaForm">
  <input type="text" placeholder="Senha" formControlName="senha" />
  <input type="text" placeholder="Confirmação de Senha" formControlName="confirmacaoSenha" />

  <div>
    <p *ngIf="pessoaForm.get('confirmacaoSenha')?.hasError('invalidPassword')">Confirmação de senha inválida</p>
  </div>

</form>

<button (click)="mostrarForm()">Mostrar Form</button>

<p>Pessoa Form Válido: {{ pessoaForm.valid }}</p>
<p>Confirmação de Senha: {{ pessoaForm.get('confirmacaoSenha')?.valid }}</p>
