<app-form-control></app-form-control>

<h1>Validador Assíncrono</h1>

<app-validador-assincrono></app-validador-assincrono>

<h1>Form Group</h1>

<app-form-group></app-form-group>

<h1>Form Array</h1>

<app-form-array></app-form-array>

<h1>Form Array com Group</h1>

<app-form-array-com-group></app-form-array-com-group>

<h1>Form Builder externo - Controller</h1>

<app-form-build-externo></app-form-build-externo>

<h1>Form Builder externo - Com Service</h1>

<app-form-build-externo-com-service></app-form-build-externo-com-service>

<h1>Form (Reactive Forms) Filhos</h1>

<app-form-comp-filho></app-form-comp-filho>

<h1>FormControl como Touched (markAsTouched)</h1>

<app-mark-as-touched></app-mark-as-touched>

<h1>Formulário com markAsTouched</h1>

<app-desafio-touched></app-desafio-touched>

<h1>Form com Chamada HTTP</h1>

<app-form-com-chamada-http></app-form-com-chamada-http>

<h1>Cross Validator</h1>

<app-cross-validator></app-cross-validator>

<h1>Adicionar e Remover Controls</h1>

<app-add-and-remove-control></app-add-and-remove-control>
